{% extends 'base.html.twig' %}

{% block title %}Livré'Bon{% endblock %}

{% block body %}
    <link rel="stylesheet" href="/style/register.css">
    <div class="form_wrapper">
        <div class="form_container">
        
        <center>
            <h1>Modifier le Repas</h1>
        </center>

        <div class="group-btn">
            {{ include('repas/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
            {{ include('repas/_delete_form.html.twig') }}
        </div>

        <div class="divRetour">
            <a href="{{ path('repas') }}" class="btn-retour">Retour</a>
        </div>

            
        </div>
    </div>

{% endblock %}
