{% extends 'base.html.twig' %}

{% block title %}Edit Repas{% endblock %}

{% block body %}
    <h1>Edit repas</h1>

    {{ include('repas/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('repas') }}">back to list</a>

    {{ include('repas/_delete_form.html.twig') }}

{% endblock %}
