{% extends 'base.html.twig' %}

{% block title %}New Restaurant{% endblock %}

{% block body %}
    <link rel="stylesheet" href="/style/register.css">
    
    <h1>Create new Restaurant</h1>

    {{ include('restaurant/_form.html.twig') }}

    <a href="{{ path('restaurant') }}">back to list</a>
{% endblock %}
