{% extends 'base.html.twig' %}

{% block title %}Livré'Bon{% endblock %}

{% block body %}
    <link rel="stylesheet" href="/style/register.css">

    <div class="form_wrapper">
        <div class="form_container">

            <center>
                 <h1>Créer un nouveau Restaurant</h1>
            </center>

            <div class="group-btn">
              {{ include('restaurant/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
            </div>

            <div class="divRetour">
                <a href="{{ path('restaurant') }}" class="btn-retour">Retour</a>
            </div>
            
        </div>
    </div
{% endblock %}
