{% extends 'base.html.twig' %}

{% block title %}Commande des client{% endblock %}

{% block body %}
    <h1>Modifier le status de la commande</h1>
    {{ form_start(form) }}
    {{ form_row(form.status) }}

{{ form_row(form.btn) }}
{{ form_end(form) }}

{% endblock %}
